# Guide to Working with Pandas Dataframes

Obviously, import the required `pandas` module. Importing `numpy` can also be helpful if working with numbers/data.

In [2]:
import pandas as pd
import numpy as np
import statistics as stats

## Importing and Creating Dataframes

The dataset used here was retrieved from https://www.kaggle.com/anandhuh/covid19-in-world-countrieslatest-data

In [6]:
# To import an existing dataset
df = pd.read_csv('worldwide covid data.csv')

# To create a dataframe from scratch
# my_df = pd.DataFrame(columns = ['col1', 'col2', 'col3', 'col4'])

# Or create a dataframe from a dictionary
# my_dict = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9], 'col4': [10, 11, 12]}
# df = pd.DataFrame.from_dict(my_dict)

## Inspecting Data

In [6]:
df.head()
# df.tail()

,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Cases/1M population,Deaths/1M population,Total Tests,Tests/1M population,Population
0,Afghanistan,156307,7281,128791.0,20235.0,3898,182,774655.0,19319.0,40097200
1,Albania,186222,2937,175451.0,7834.0,64805,1022,1311540.0,456411.0,2873596
2,Algeria,206649,5927,141811.0,58911.0,4602,132,230861.0,5141.0,44907419
3,Andorra,15516,130,15242.0,144.0,200387,1679,193595.0,2500258.0,77430
4,Angola,64487,1713,53376.0,9398.0,1884,50,1092363.0,31915.0,34227629

In [7]:
print(df.columns)
# Get information about the dataset as a whole
df.info()

# Determine the variable types in the dataset
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    196 non-null    object
 1   Total Cases                196 non-null    int64
 2   Total Deaths               196 non-null    int64
 3   Total Recovered            194 non-null    float64
 4   Active Cases               194 non-null    float64
 5   Total Cases/1M population  196 non-null    int64
 6   Deaths/1M population       196 non-null    int64
 7   Total Tests                192 non-null    float64
 8   Tests/1M population        192 non-null    float64
 9   Population                 196 non-null    int64
dtypes: float64(4), int64(5), object(1)
memory usage: 15.4+ KB

Country                       object
Total Cases                    int64
Total Deaths                   int64
Total Recovered              float64
Active Cases                 float64
Total Cases/1M population      int64
Deaths/1M population           int64
Total Tests                  float64
Tests/1M population          float64
Population                     int64
dtype: object

## Summarizing Data

*Note: pandas and numpy return slightly different values for their respective `var` and `std` functions.*

In [7]:
df.describe()

,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Cases/1M population,Deaths/1M population,Total Tests,Tests/1M population,Population
count,1.960000e+02,196.000000,1.940000e+02,1.940000e+02,196.000000,196.000000,1.920000e+02,1.920000e+02,1.960000e+02
mean,1.266763e+06,25658.688776,1.150839e+06,9.260771e+04,56113.617347,914.311224,2.094107e+07,1.060358e+06,4.008576e+07
std,4.593222e+06,84846.606103,4.046744e+06,6.744275e+05,51997.542468,955.591341,7.512503e+07,1.876692e+06,1.482140e+08
min,2.621000e+03,3.000000,5.500000e+01,2.000000e+00,68.000000,3.000000,1.468900e+04,3.287000e+03,3.402600e+04
25%,2.237675e+04,333.500000,1.590175e+04,6.695000e+02,5636.000000,112.500000,3.540520e+05,1.051550e+05,1.987078e+06
50%,1.778875e+05,2434.500000,1.402300e+05,7.220000e+03,46790.000000,628.000000,1.978244e+06,4.632715e+05,8.907116e+06
75%,6.605052e+05,11778.500000,6.085508e+05,3.443275e+04,91629.750000,1560.750000,1.112483e+07,1.280447e+06,2.893874e+07
max,4.699977e+07,768847.000000,3.700999e+07,9.220934e+06,231328.000000,5964.000000,7.034355e+08,1.481471e+07,1.439324e+09

In [24]:
# Various ways to quickly get the mean of a column
np.mean(df['Total Cases'])
np.average(df['Total Cases'])
df['Total Cases'].mean()

# Also various ways to find variance and standard deviation
np.var(df['Total Cases'])
np.std(df['Total Cases'])
df['Total Cases'].var()
df['Total Cases'].std()

# Median and mode
np.median(df['Total Cases'])
stats.mode(df['Total Cases'])
stats.median(df['Total Cases'])

177887.5

In [ ]:

df.groupby('col3').sum()
# Get values of categorical variable
df['col'].unique()

# Get a table of proportions
df['col'].value_counts(normalize=True).index[0]

# Convert a variable to categorical
buying_cost_categories = ['low','med','high','vhigh']
df['col']=pd.Categorical(df['col'], buying_cost_categories, ordered = True)

# Create numeric codes from categories
np.median(df['col'].cat.codes)

# Create dummy variables from a categircal variable (drop_first argument is optional)
pd.get_dummies(df['col'], drop_first=True)